///********************///
///*     Colors       *///
///********************///

$black: #000;
$white: #fff;
$navy: #041E37;

$mustard: #BD9060;
$darkGray: #555555;
$lightGray: #AAAAAA;

$shadow: rgba(9, 32, 157, 0.12);


///********************///
///*    Break Points  *///
///********************///
$screen-xsm: 320px;
$screen-sm: 768px;
$screen-sm-min: 769px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xlg: 1280px;

///********************///
///*       Fonts      *///
///********************///

$primary-font: 'SamsungOne', Helvetica, 'malgun gothic', 'Apple SD Gothic Neo', 'Microsoft NeoGothic', 'Droid sans', arial, sans-serif;
$SharpSans: 'SamsungSharpSans', Helvetica, 'malgun gothic', 'Apple SD Gothic Neo', 'Microsoft NeoGothic', 'Droid sans', arial, sans-serif;

